* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

#homepage {
  background-image: url("assets/restaurant.jpg");
  font: 25px "Times New Roman", Arial, Helvetica, sans-serif;
  height: 100%;
  font-size: 14pt;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

/*home*/
#wrapper {
  width: 70%;
  min-width: 1008px;
  height: 100%;
  margin: 0 auto;
}

#heading {
  height: 150px;
  padding: 15px 15px 5px 15px;
  color: #381903;
}

#heading h1 {
  font-family: cursive, Optima, "Times New Roman", Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-align: center;
  margin-bottom: 0px;
  height: 100px;
}

#heading h2 {
  font-family: cursive, Optima, "Times New Roman", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

#navbar {
  background-color: #c4edbe;
  font: 1.1em Times, Helvetica, sans-serif;
  text-align: center;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 13px;
  padding-bottom: 13px;
}

#navbar li {
  display: inline;
}

#navbar li a {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 13px 16px;
}

#navbar li a:hover {
  background-color: #44853a;
  color: white;
}

#content {
  font: 1.3em/1.4 "Times New Roman", Arial, Helvetica, sans-serif;
  height: 700px;
  font-size: 16pt;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  padding: 10px;
}

#foodmenu {
  width: 100%;
  height: 100%;
  padding-left: 15px;
}
.fooditem {
  float: left;
  width: 30%;
  margin: 0.54em;
  text-align: center;
}

.food {
  height: 200px;
  width: 303px;
}

.captionbox {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
}

.captionbox p {
  font-weight: bold;
  text-align: center;
}

.zoom {
  transition: transform .2s; /* animation */
}

.zoom:hover {
  transform: scale(1.1); 
}

/*menu*/
#menuhomepage {
  background-image: url("assets/restaurant.jpg");
  font: 25px "Times New Roman", Arial, Helvetica, sans-serif;
  height: 100%;
  font-size: 14pt;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 550px;
}

#menu {
  padding-top: 10px;
}

table.menu,
#hours table {
  width: 100%;
  text-align: center;
  border-color: black black black black;
  border-collapse: separate;
  background-color: rgba(255, 255, 255, 0.8);
}

#menu td {
  text-align: center;
}

#menu table, 
#menu th,
#menu td {
  border: 1px solid black;
}

#menu table td {
  text-align: center;
  padding: 0px 9px;
}

#menu table th {
  padding-left: 6px;
  padding-right: 6px;
}

.foodpicture {
  height: 140px;
  width: 160px;
  padding-top: 9px;
  margin: 0px;
}

#orderinfo {
  width: 100%;
  margin: 14px 0px 10px 0px;
  /* padding: 15px; */
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
}

#address {
  padding-top: 20px;
  padding-left: 20px;
  float: left;
  width: 48%;
}

#payment {
  overflow: hidden;
  padding-left: 50px;
  padding-top: 20px;
  border-left: 1px solid black;
}

#submitorder {
  text-align: center;
}

.submitbutton {
  width: 20%;
  height: 25%;
  font: 20px "Times New Roman", Arial, Helvetica, sans-serif;
}

input[type="number"] {
  width: 35px;
}

/* process order */
#orderhomepage {
  background-image: url("assets/restaurant.jpg");
  font: 25px "Times New Roman", Arial, Helvetica, sans-serif;
  height: 100%;
  font-size: 14pt;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

#confirmorder {
  width: 100%;
  min-width: 1008px;
  margin: 14px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  height: 51%;
}

#customeraddress {
  padding: 15px 15px 15px 15px;
  text-align: center;
}

#ordertotal {
  border-top: 1px solid black;
  text-align: center;
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#total {
  width: 52%;
  float: left;
  border-right: 1px solid black;
  overflow: hidden;
}

#total td {
  text-align: center;
}

table.total {
  width: 100%;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  height: 100%;
}

table.total th,
table.total td {
  border: 1px solid black;
}

#finalinfo {
  width: 47.8%;
  height: 100%;
  overflow: hidden;
}

#finalinfo p {
  padding-top: 20px;
}

/*contact*/
#contact {
  height: 25%;
  width: 70%;
  margin: 10px auto;
  text-align: center;
  padding-top: 30px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

/*hours*/
#hours {
  padding-top: 10px;
}
.breakfast .dinner .lunch {
  font-size: 20px;
}

.breakfast {
  background-color: #fae8a0;
}

.lunch {
  background-color: #bfedaf;
}

.dinner {
  background-color: #afedea;
}

#hours td,
#hours th {
  vertical-align: middle;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: black black black black;
}

/*annotation*/
#annotationbody {
  background-color: #f2e4f0;
}
#annotationh1 {
  text-align: center;
}

#annotationwrap {
  width: 70%;
  padding-bottom: 100px;
  font-size: 20px;
  min-width: 1008px;
  height: 100%;
  margin: 0 auto;
  line-height: 35px;
}

#annothead {
  padding-top: 30px;
  padding-left: 50px;
  font-size: 25px;
}

/* review */
#review {
  height: 100%;
}

#rating {
  height: 12%;
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

#rating h1,
#textReview h1 {
  font-size: 25px;
}

#textReview {
  height: 60%;
  width: 70%;
  margin: 10px auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

#textReviewArea {
  width: 70%;
  height: 45%;
}

#textAreaContainer {
  padding-top: 20px;
  height: 100%;
}

#displayMessage {
  padding-top: 15px;
}

.share {
  display: block;
}

.notShare {
  display: none;
}

#share.share::after {
  content: '\263A';
}

/* rating system */
/* decorate stars */
.star{
  color: goldenrod;
  font-size: 2.0rem;
  padding: 0 1rem; /* space out the stars */
}

/* add the content(which is the star) before the star div, 
because the star div will change according to its state */
.star::before{
  content: '\2606';    /* blank star */
  cursor: pointer;     /* decorate the cursor */
}

/* elements with both classes .star and .rated */
.star.rated::before{
  content: '\2605';  /* filled star */
}

/* increment the rating by 1 */
.star.rated{
  counter-increment: curr-rating 1;
}

/* decorate the whole rating box */
.stars{
    counter-reset: curr-rating;    /* set the initial rating to be 0 */
    font-size: 2.0rem;
    font-weight: bold;
}

/* display the current rating */
.stars::after{
    content: counter(curr-rating) '/5';
}

#fav_order{
  height: 100%;
  width: 70%;
  margin: 10px auto;
  text-align: center;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

#input_data {
  height: 70px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;

}

#fav_table table, #fav_table td, #fav_table tr, #fav_table th{
  border: 1px solid black;
  text-align: center;
  margin: auto
}

#fav_table table {
  width: 60%;
}

#message {
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}